 
<section id="home">

    <div id="video_haeder">
        <video src="assets/video/video_header_bk.mp4" autoplay loop muted></video>
    </div>
    <!-- NAV MENU BAR -->
    <section id="nav_menu">
       


        <ul id="ul_header">
          
            <div>
                <a href=""> <img src="assets/imagens/icon/call.png" alt=""></a>
                <a href=""> <img src="assets/imagens/icon/whatsapp.png" alt=""> </a>
                <a href=""> <img src="assets/imagens/icon/github.png" alt=""></a>
                <a href=""> <img src="assets/imagens/icon/instagram.png" alt=""></a>

            </div>

        </ul>
        <!-- 2 UL HEADER -->
        <ul id="ul_header_principal">
            <img class="logo_header" src="assets/imagens/bk-header/logo.png" alt="">
            <div>
                <li><a href="#home">HOME</a></li>
                <li><a href="#sobrenos">ABOUT US</a></li>
                <li><a href="#pizza">PIZZA</a></li>
                <li><a href="#menu_cardapio">MENU</a></li>  
                <li><a href="">GALERY</a></li>
                <li><a href="">CONTACTS</a></li>




            </div>

            <button onclick="agenda()" id="btn_header">BOOK A TABLE</button>
        </ul>

    </section>


    <div class="text_header">
        <h1 class="typewriter-text">
            <h1 class="typewriter-text">
                <span id="line1"></span><br>
                <span id="line2"></span>

            </h1>
            <button id="agende-btn">Agende conosco!</button>
        </h1>
    </div>



</section>

<!-- DIV DEGRADÊ -->
<div id="degrade">

</div>




<!-- __________________-SECTION-2______________ -->

<section id="sobrenos">
    <div id="cards" >
        <div class="card" id="card-1">
            <img src="assets/imagens/icon/chef.png" alt="">
            <h4>EXPERIENCED CHEFS
            </h4>
        </div>
        <div class="card" id="card-2">
            <img src="assets/imagens/icon/recipe-book.png" alt="">
            <h4>ORIGINAL RECIPES
            </h4>
        </div>
        <div class="card" id="card-3">
            <img src="assets/imagens/icon/ice-bucket.png" alt="">
            <h4>FRESH INGREDIENTS
            </h4>
        </div>
        <div class="card" id="card-4">
            <img src="assets/imagens/icon/location.png" alt="">
            <h4>CONVENIENT LOCATION
            </h4>
        </div>

    </div>




    <!-- SOBRE NÓS -->

    <section id="section_info">
        <div id="sobre_nos">
            <h1>ABOUT US</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi sit nihil sed omnis necessitatibus magnam debitis soluta, quo delectus eveniet et vitae facere at quas, tempore repellat beatae, odio hic!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi sit nihil sed omnis necessitatibus magnam debitis soluta, quo delectus eveniet et vitae facere at quas, tempore repellat beatae, odio hic!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi sit nihil sed omnis necessitatibus magnam debitis soluta, quo delectus eveniet et vitae facere at quas, tempore repellat beatae, odio hic!</p>
            <main id="span_conometragem">
                <div class="contador">
                    <p class="counter" data-target="150">0</p>
                    <p>+</p>
                </div>
                <div class="contador">
                    <p class="counter" data-target="100">0</p>
                    <p>%</p>
                </div>
                <div class="contador">
                    <p class="counter" data-target="25">0</p>
                    <p>+</p>
                </div>
            
    
            </main>
        </div>

        <!-- IMAGEM -->
        <div id="imagem_sobre_nos">
            
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/imagens/carrosel/img-1_carrosel.jpg" class="d-block w-100 carousel-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/imagens/carrosel/img-2_carrosel.jpg" class="d-block w-100 carousel-image" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/imagens/carrosel/img-3_carrosel.jpg" class="d-block w-100 carousel-image" alt="...">
                    </div>
                </div>
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> -->
              
            </div>

          
             

        </div>
    </section>


 





</section>


   <!-- PIZZA -->
   <section id="pizza">

    <!-- MENU LATERAL -->
     <nav id="nav-pizza">
        <button onclick="abrir_fatia_pizza()"><img src="assets/imagens/section_pizza/icons/fatia_.png" alt=""></button>
        <button onclick="promo()"><img src="assets/imagens/section_pizza/icons/promo.png" alt=""></button>
        <button onclick="abrir_pizza_fa()"><img src="assets/imagens/section_pizza/icons/pizza_ent.png" alt=""></button>
        <button onclick="abrir_combo_pizza()"><img src="assets/imagens/section_pizza/icons/combo.png" alt=""></button>
        <button onclick="abir_card_entrega()"><img src="assets/imagens/section_pizza/icons/pizza_entrega.png" alt=""></button>
    

     </nav>
     <!-- CARD PIZZA -->

     <div id="fatia_pizza">
        <button  onclick="fechar()">x</button>
        <h1>Em desenvolvimento</h1>

     </div>
     <!--CARD PROMO -->

     <div id="card_promo">
        <button  onclick="fechar_promo()">x</button>
        <h1>Em desenvolvimento</h1>

     </div>
     <!-- CARD PIZZA FAMÍLIA -->
     <div id="pizza_familia">
        <button  onclick="pizza_fa_close()">x</button>
        <h1>Em desenvolvimento</h1>

     </div>
     <!-- CARD COMBO PIZZA -->
     <div id="combo_pizza">
        <button  onclick="combo_pizza_close()">x</button>
        <h1>Em desenvolvimento</h1>

     </div>
     <!-- CARD ENTREGA -->
     <div id="entrega_pizza">
        <button  onclick="entrega_pizza_close()">x</button>
        <h1>Em desenvolvimento</h1>

     </div>
        
   </section>

   <!-- SECTION MENU -->

   <section id="menu_cardapio">
    <!-- MENU  -->
     <nav id="menu_opcoes">
        <img class="img_menu_op" src="assets/imagens/bk-header/logo.png" alt="">
        <ul>
            <li><button>STEAK</button></li>
            <li><button>RIBS</button></li>
            <li><button>SAUSAGE</button></li>
            <li><button>CHIKEN</button></li>
            <li><button>DISSERTS</button></li>
            <li><button>DRINKS</button></li>
        </ul>


     </nav>
     <div id="op_selecioados">
        <h1>Em desenvolvimento</h1>

     </div>


   </section>