<section id="home" >

  <div id="video_haeder">
    <!-- <video src="assets/video/video_header_bk.mp4" autoplay loop muted></video> -->
  </div>
  <!-- NAV MENU BAR -->
  <section id="nav_menu">



    <ul id="ul_header">

      <div>
        <a href=""> <img src="assets/imagens/icon/call.png" alt=""></a>
        <a href=""> <img src="assets/imagens/icon/whatsapp.png" alt=""> </a>
        <a href=""> <img src="assets/imagens/icon/github.png" alt=""></a>
        <a href=""> <img src="assets/imagens/icon/instagram.png" alt=""></a>

      </div>

    </ul>
    <!-- 2 UL HEADER -->
    <ul id="ul_header_principal">
      <img class="logo_header" src="assets/imagens/bk-header/logo.png" alt="">
      <div>
        <li><a href="#home">HOME</a></li>
        <li><a href="#sobrenos">ABOUT US</a></li>
        <li><a href="#pizza">PIZZA</a></li>
        <li><a href="#menu_cardapio">MENU</a></li>
        <li><a href="#galeria">GALERY</a></li>
        <li><a href="#contato">CONTACTS</a></li>




      </div>

      <button onclick="agenda()" id="btn_header">BOOK A TABLE</button>
    </ul>

  </section>


  <!-- DEVICE MENU -->
  <section id="nav_menu_device">
    <img class="logo_header" src="assets/imagens/bk-header/logo.png" alt="">
    <div>
      <input type="text">
      <button onclick="abrirMenu_device()">≡</button>
    </div>

  </section>



  <!-- 2 UL HEADER -->
  <ul id="ul_header_principal_device" class="menu">

    <div class="titulo_menu_device">
      <h1>titulo</h1>
      <button onclick="agenda()" id="btn_header">BOOK A TABLE</button>
    </div>


    <div id="ul_opcoes_device">
      <li><a href="#home">HOME</a></li>
      <li><a href="#sobrenos">ABOUT US</a></li>
      <li><a href="#pizza">PIZZA</a></li>
      <li><a href="#menu_cardapio">MENU</a></li>
      <li><a href="#galeria">GALERY</a></li>
      <li><a href="#contato">CONTACTS</a></li>
     <div id="icon_menu_device">
      <a href=""> <img src="assets/imagens/icon/call.png" alt=""></a>
      <a href=""> <img src="assets/imagens/icon/whatsapp.png" alt=""> </a>
      <a href=""> <img src="assets/imagens/icon/github.png" alt=""></a>
      <a href=""> <img src="assets/imagens/icon/instagram.png" alt=""></a>

    </div>
    </div>
    

   
  </ul>












  <div class="text_header">
    <h1 class="typewriter-text">
      <h1 class="typewriter-text">
        <span id="line1"></span><br>
        <span id="line2"></span>

      </h1>
      <button id="agende-btn">Agende conosco!</button>
    </h1>
  </div>



</section>

<!-- DIV DEGRADÊ -->
<div id="degrade">

</div>




<!-- __________________-SECTION-2______________ -->

<section id="sobrenos">
  <div id="cards">
    <div class="card" id="card-1">
      <img src="assets/imagens/icon/chef.png" alt="">
      <h4>EXPERIENCED CHEFS
      </h4>
    </div>
    <div class="card" id="card-2">
      <img src="assets/imagens/icon/recipe-book.png" alt="">
      <h4>ORIGINAL RECIPES
      </h4>
    </div>
    <div class="card" id="card-3">
      <img src="assets/imagens/icon/ice-bucket.png" alt="">
      <h4>FRESH INGREDIENTS
      </h4>
    </div>
    <div class="card" id="card-4">
      <img src="assets/imagens/icon/location.png" alt="">
      <h4>CONVENIENT LOCATION
      </h4>
    </div>

  </div>




  <!-- SOBRE NÓS -->

  <section id="section_info">
    <div id="sobre_nos">
      <h1>ABOUT US</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi sit nihil sed omnis necessitatibus magnam
        debitis soluta, quo delectus eveniet et vitae facere at quas, tempore repellat beatae, odio hic!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi sit nihil sed omnis necessitatibus magnam
        debitis soluta, quo delectus eveniet et vitae facere at quas, tempore repellat beatae, odio hic!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi sit nihil sed omnis necessitatibus magnam
        debitis soluta, quo delectus eveniet et vitae facere at quas, tempore repellat beatae, odio hic!</p>
      <main id="span_conometragem">
        <div class="contador">
          <p class="counter" data-target="150">0</p>
          <p>+</p>
        </div>
        <div class="contador">
          <p class="counter" data-target="100">0</p>
          <p>%</p>
        </div>
        <div class="contador">
          <p class="counter" data-target="25">0</p>
          <p>+</p>
        </div>


      </main>
    </div>

    <!-- IMAGEM -->
    <div id="imagem_sobre_nos">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/imagens/carrosel/img-1_carrosel.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/imagens/carrosel/img-2_carrosel.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/imagens/carrosel/img-3_carrosel.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> -->

      </div>




    </div>
  </section>








</section>


<!-- PIZZA -->
<section id="pizza">
  <div id="texto_2_pizzaria">
    <h1>GRAND ITALIANO PIZZA
      30% OFF FRIDAY ONLY</h1>
    <button>BOOK A TABLE</button>

  </div>

  <!-- MENU LATERAL -->
  <nav id="nav-pizza">
    <button onclick="abrir_fatia_pizza()"><img src="assets/imagens/section_pizza/icons/fatia_.png" alt=""></button>
    <button onclick="promo()"><img src="assets/imagens/section_pizza/icons/promo.png" alt=""></button>
    <button onclick="abrir_pizza_fa()"><img src="assets/imagens/section_pizza/icons/pizza_ent.png" alt=""></button>
    <button onclick="abrir_combo_pizza()"><img src="assets/imagens/section_pizza/icons/combo.png" alt=""></button>
    <button onclick="abir_card_entrega()"><img src="assets/imagens/section_pizza/icons/pizza_entrega.png"
        alt=""></button>


  </nav>
  <!-- CARD PIZZA -->
  <div id="todos_cards_pizza" onclick="fecharCards()">

    <div id="fatia_pizza">
      <button onclick="fechar()">x</button>
      <h1>Em desenvolvimento</h1>

    </div>
    <!--CARD PROMO -->

    <div id="card_promo">
      <button onclick="fechar_promo()">x</button>
      <h1>Em desenvolvimento</h1>

    </div>
    <!-- CARD PIZZA FAMÍLIA -->
    <div id="pizza_familia">
      <button onclick="pizza_fa_close()">x</button>
      <h1>Em desenvolvimento</h1>

    </div>
    <!-- CARD COMBO PIZZA -->
    <div id="combo_pizza">
      <button onclick="combo_pizza_close()">x</button>
      <h1>Em desenvolvimento</h1>

    </div>
    <!-- CARD ENTREGA -->
    <div id="entrega_pizza">
      <button onclick="entrega_pizza_close()">x</button>
      <h1>Em desenvolvimento</h1>

    </div>
  </div>


</section>

<!-- SECTION MENU -->

<section id="menu_cardapio">

  <!-- MENU  -->
  <nav id="menu_opcoes">
    <img class="img_menu_op" src="assets/imagens/bk-header/logo.png" alt="">
    <ul>
      <li><button onclick="bifes()">STEAK</button></li>
      <li><button onclick="costelas()">RIBS</button></li>
      <li><button onclick="frango()">CHIKEN</button></li>
      <li><button onclick="sobremesas()">DESSETS</button></li>
      <li><button onclick="bebidas()">DRINKS</button></li>
    </ul>


  </nav>
  <div id="op_selecioados">

    <div class="row row-cols-1 row-cols-md-3 g-4" id="bifes_card">
      <div class="col">

        <div class="card h-100 w-100">

          <img src="assets/imagens/section_menu/img_card_bifs/img_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago </small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela-meio-vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela-meio-vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela-meio-vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bifs/img_11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_vazia.png" alt="">
          </div>

          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- CARDS COSTELAS -->
    <div class="row row-cols-1 row-cols-md-3 g-4" id="costelas_card">
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: black; font-weight: bolder;">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela-meio-vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela-meio-vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_costelas/img_11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CARDS FRANGO  -->

    <div class="row row-cols-1 row-cols-md-3 g-4" id="frango_card">
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_frangos/img_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: black; font-weight: bolder;">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_frangos/img_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_frangos/img_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_frangos/img_4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_frangos/img_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CARDS SOBREMESAS -->

    <div class="row row-cols-1 row-cols-md-3 g-4" id="sobremesas_card">
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_sobremesas/img_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: black; font-weight: bolder;">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_sobremesas/img_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_sobremesas/img_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_sobremesas/img_4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_sobremesas/img_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_sobremesas/img_6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
    </div>




    <!-- CARDS BEBIDAS-->

    <div class="row row-cols-1 row-cols-md-3 g-4" id="bebidas_card">
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bebidas/img_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: black; font-weight: bolder;">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bebidas/img_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bebidas/img_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela-meio-vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bebidas/img_4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bebidas/img_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela-meio-vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bebidas/img_6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-100">
          <img src="assets/imagens/section_menu/img_card_bebidas/img_7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longe</p>
          </div>
          <div id="avaliacao">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_cheia.gif" alt="">
            <img src="assets/imagens/icon/estrela_vazia.png" alt="">
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="heart" id="heart"> ♥</p> <button id="shareButton">Compartilhar</button>
          </div>
        </div>
      </div>
    </div>


  </div>


</section>


<!-- SECTION GALERIA FOTOS -->
<section id="galeria">
  <h1>Em desenvolvimento</h1>

</section>










<!-- SECTION FOOTER -->

<footer class="footer  " id="contato">
  <div class="container_device">
    <div class="row">
      <!-- About -->
      <div class="col-lg-3 ">
        <h5 class="text-uppercase">Sobre nós</h5>
        <p>
          Fornecemos serviços de qualidade com dedicação e compromisso. Nossa missão é garantir a satisfação do cliente
          em todas as etapas.
        </p>
      </div>

      <!-- Services -->
      <div class="col-lg-3 ">
        <h5 class="text-uppercase">Serviços</h5>
        <ul class="list-unstyled mb-0">
          <li class="icon-text"><i class="fas fa-cogs"></i><a href="#!" class="text-reset">Consultoria</a></li>
          <li class="icon-text"><i class="fas fa-laptop-code"></i><a href="#!" class="text-reset">Desenvolvimento</a>
          </li>
          <li class="icon-text"><i class="fas fa-headset"></i><a href="#!" class="text-reset">Suporte</a></li>
          <li class="icon-text"><i class="fas fa-chalkboard-teacher"></i><a href="#!" class="text-reset">Treinamento</a>
          </li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-3 ">
        <h5 class="text-uppercase">Contato</h5>
        <ul class="list-unstyled mb-0">
          <li class="icon-text"><i class="fas fa-envelope"></i><a href="#" class="text-reset">Email: Acesse</a></li>
          <li class="icon-text"><i class="fas fa-phone"></i><a href="#!" class="text-reset">Telefone: (61) 981579569</a>
          </li>
          <li class="icon-text"><i class="fas fa-map-marker-alt"></i><a href="https://maps.app.goo.gl/Fy5hP6F9agGcPBGW9"
              class="text-reset">Endereço: DF - Brasília</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="text-center p-3 copy">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="#">Erivelton DEV</a>
  </div>
</footer>